  {{title}}
  {{text}}
  <ul>
    {{#each comment in comments}}
      <li>{{#linkTo post.comment comment}}{{comment.text}}{{/linkTo}}</li>
    {{/each}}
  </ul>
  {{#linkTo comments.new}}New Comment{{/linkTo}}
