<ul class="post">
  {{#each controller}}
    <li class="inner big-margin-right big-margin-bottom"><section class="container">{{view App.PostListInnerView}}</section></li>
  {{/each}}
</ul>
{{#linkTo posts.new}}New Post{{/linkTo}}
