    <figure class="front gradient"><div>{{#linkTo post this}}{{title}}{{/linkTo}}</div><div>{{text}}</div><div>by {{user}},  {{transformDate createdAt}}</div></figure>

    <figure class="back gradient"><ul class="no-bullet no-margin"><li class="medium-margin-top medium-margin-bottom"><button class="btn btn-warning" type="button">Edit</button></li><li class="medium-margin-bottom"><button class="btn btn-danger" type="button">Delete</button></li><li><button class="btn btn-primary" type="button">Comment</button></li></ul></figure>
