<form {{action save content on='submit'}}>
  {{view Ember.TextArea valueBinding="title" placeholder="Enter title here"}}
  {{view Ember.TextArea valueBinding="text" placeholder="Enter content here"}}
  <button type="submit">Create Post</button>
</form>
